body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 20px;
  background-color: rgb(140, 226, 132);
  padding: 20px;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-label {
  font-size: 14px;
  font-weight: bold;
}

.form-input {
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  transition: 0.2s background-color;
}

.form-input:focus {
  outline: none;
  background-color: #eee;
}

.form-button {
  background-color: green;
  color: white;
  border: none;
}


@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form-row {
    display: flex;
    flex-direction: column;
  }
  .form-label {
    margin-bottom: 10px;
  }
  .form-input {
    width: 100%;
  }
  .form-button {
    width: 100%;
  }
}